* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/* header */
.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #4091c9;
}

#logo-header {
  height: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo-header img {
  height: 100%;
}

.header-menu {
  margin-right: 50px;
  color: white;
}

#dropdown:hover {
  cursor: pointer;
}

/* navbar */
.navbar {
  display: flex;
  padding: 30px 0 30px 0;
  background-color: black;
}

.nav-item {
  width: 25%;
  display: flex;
  justify-content: center;
  font-size: 15pt;
}

.nav-item a {
  padding: 0 5px 5px 5px;
  border-bottom: 2px solid black;
}

.nav-item a:hover {
  color: #90bede;
  border-bottom: 2px solid #90bede;
}

/* footer */
.footer {
  padding: 30px 80px 30px 80px;
  background-color: #4091c9;
  display: flex;
  color: white;
}

.footer-sosmed {
  width: 50%;
}

.footer-sosmed-header {
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 20px;
}

.footer-sosmed-item {
  display: flex;
  align-items: center;
}

.sosmed-name {
  padding-left: 20px;
}

.sosmed-img img {
  width: 50px;
}

.footer-copyright {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
}

.footer-copyright img {
  width: 40%;
}
